<widget xmlns="http://www.w3.org/ns/widgets" id="http://github.com/TopHattedCoder/reditn" version="1.4">
	<name short="Reditn">Reditn - reddit plugin</name>
	<description xml:lang="en">Reddit plugin that adds much-needed functionality such as image toggle buttons, advert blocking and more!</description>
	<author href="http://github.com/TopHattedCoder" email="tophattedcoder@gmail.com">
		Tom Bebbington
	</author>
	<license href="http://www.opensource.org/licenses/mit-license.php">
		Licensed under the MIT license
	</license>
	<icon src="icon.svg" width="18" height="18"/>
	<access origin="http://reddit.org" subdomains="true"/>
</widget>